<% var wordType = function(children) {if (children.ins(0).attributes.title == "nlp 0.10") {return "info"} else if (children.ins(0).attributes.title != "nlp 1.00" && !children.del) {return "warning"} else if (children.ins(0).attributes.title != "nlp 1.00") {return "danger"} else {return "default"}}; %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="ocr-id" value="abbyy" />
    <meta name="ocr-recognized" value="lines text" />
    <meta http-equiv="content-type" content="application/xhtml+xml" charset="UTF-8" />
    <title>OGL Proofreader</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Open Greek And Latin Proofreading Environment</a>
        </div>
    </nav>
    <div <% var a = json.html.body(0).div(0).attributes; for (key in a) { %> <%= key+'=\"'+a[key]+'\" ' %> <% } %>>

    <% for (i in json.html.body(0).div(0).span()) { if (i!='last') { var line = json.html.body(0).div(0).span(i); var bbox = line.attributes.title.split(' '); %>

        <canvas class="ocr_line" data="panel panel-default" width="<%= 1*bbox[3]-bbox[1]*1 %>" height="<%= 1*bbox[4]-bbox[2]*1 %>" id="<%= line.attributes.title %>"></canvas>
        <div class="ocr_line btn-group" id="<%= line.attributes.title %>">

        <!-- BUTTON FOR WORD -->
        <% for (j in line.span()) { if (j!='last') { var word = line.span(j); var attrs = word.attributes; var alt = word.span(0); %>

            <div class="btn-group <%= attrs.class %>" <% for (key in attrs) { %><% if (key != "class") {key+"=\""+attrs[key]+"\" "}%><% } %>>
            <button type="button" class="btn btn-<%=  wordType(alt) %> <%= alt.ins(0).attributes.class %>" <% for (key in alt.ins(0).attrs) { if (key != "class") { %><%= key+"=\""+children.ins(0).attrs[key]+"\" " %><% }} %>><%= alt.ins(0).text %></button>

            <!-- ADD DROPDOWN MENU -->
            <% if (wordType(alt)!="default") { %>
                <button type="button" class="btn btn-<%= wordType(alt) %> dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                <% for (k in alt.children) { if (k!='last') { var del = alt.children[k] %>
                    <li <% for (a in del.attributes) { %><%- a+"=\""+del.attributes[a]+"\" "%><% } %>><a href="#"><%= del.text %></a></li>
                <% }} %>
                </ul>
            <% } %>

            </div>
        <% }} %>
        </div>
    <% }} %>
    </div>
    <script src="/js/jquery-2.0.3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ocr.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var img = new Image();
        img.onload = function() {
            $('canvas').each( function(){
                var coords = this.getAttribute('id').split(' ');
                var bbox = [1*coords[1],1*coords[2],1*coords[3]-coords[1]*1,1*coords[4]-coords[2]*1];
                var scale = 30/bbox[3]
                this.getContext('2d').drawImage(img,bbox[0],bbox[1],bbox[2],bbox[3],0,0,bbox[2],bbox[3]);
                $(this).height(30);
                $(this).width(bbox[2]*scale);
            });
        };
        img.src = '<%= page %>/img';
        var json = <%- JSON.stringify(json, function(key,value) {if (typeof value == 'function') {return value.toString();} else {return value}}) %>;
    </script>
</body>
</html>
