<% include utils/head %>
<% include utils/navigation %>
  <ol class="breadcrumb">
    <li><a href="/">Index</a></li>
    <li><%= work.name %></li>
    <li>TOC</li>
  </ol>
  <div class="container" style="margin-top: 24px; margin-bottom: 24px;">
    <% for (var i in pages) { if (i != 'last') { var p = pages[i]; var btn; if (p.score == 1.00) {btn = "info";} else if (p.score >= 0.95) {btn = "success";} else if (p.score >= 0.7) {btn = "warning"} else {btn = "danger"} %>
      <a style="margin:1px; marginleft:0px; width:48px;" href="/<%= work.hash %>/<%=  p.id %>" class="btn btn-<%= btn %>" alt="<%= p.length %> words">
        <%= p.id %>
      </a>
    <% }} %>
  </div>
<% include scripts/libraries %>
<% include utils/foot %>
