<% include utils/head %>
<% include utils/navigation %>
  <ol class="breadcrumb">
    <li><a href="/">Index</a></li>
    <li><%= work %></li>
  </ol>
  <h3>Pages</h3>
  <div class="container">
    <% var btns = ["danger","warning","danger","warning","warning","warning","warning","warning","success","info","danger","warning","danger","danger","warning","warning","warning","warning","success","warning"]; for (var p in pages) { %>
      <a style="margin:1px; marginleft:0px; width:48px;" href="/<%= index.byName[work] %>/<%=  p %>" class="btn btn-<%= btns[Math.floor(Math.random()*20)] %>">
        <%= p %>
      </a>
    <% } %>
  </div>
<% include scripts/libraries %>
<% include utils/foot %>
