<% var attrs = word.attributes; var alt = word.span(0); %>
<div class="btn-group <%= attrs.class %>" <% for (key in attrs) { if (key != "class") { %><%- key+"=\""+attrs[key]+"\" " %><% }} %>>
    <button type="button" class="btn btn-<%=  wordType(alt) %> <%= alt.ins(0).attributes.class %>" <% for (key in alt.ins(0).attrs) { if (key != "class") { %><%= key+"=\""+children.ins(0).attrs[key]+"\" " %><% }} %>><%= alt.ins(0).text %></button>
    <% include alternatives %>
</div>